$font-stack: Helvetica, sans-serif;
$background-color: rgb(244, 241, 239);
$text-color: rgb(249, 191, 32);
$custom-bg: #717382 ;
$custom-bg-lighter: #fffbaa;;

body {
    background-color: $background-color;
}

.custom {
    color: $text-color;
}

.bg-custom {
    background-color: $custom-bg;
    color: white;
}

.bg-custom-lighter {
    background-color: $custom-bg-lighter;
    color: white;
}
