$font-stack: Helvetica, sans-serif;
$text-color: rgb(249, 191, 32);
$custom-bg: #717382 ;
$custom-bg-lighter: #fffbaa;


.custom {
    color: $text-color;
}

.bg-custom {
    background-color: $custom-bg;
    color: white;
}

.bg-custom-lighter {
    background-color: $custom-bg-lighter;
    color: white;
}
.single-box {  
    color: white;
    font-size: 20px;
	font-weight: 700;
}
footer {
	background: $custom-bg;
	padding: 20px 0;
}
