$font-stack: Helvetica, sans-serif;
$bg-color: rgb(244, 241, 239);
$custom-color: #717382;

body {
  background-color: $bg-color;
}

.bg-custom {
  background-color: $custom-color;
}

.single-box {
  h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: $font-stack;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }

  p {
    color: #fff;
    line-height: 1.9;
  }
  ul {
    list-style: none;
    padding: 0;
    
    li a {
      text-decoration: none;
      color: #fff;
      line-height: 2.5;
      font-weight: 100;
    }
  }

  .card-area {
    i {
      color: #ffffff;
      font-size: 20px;
      margin-right: 10px;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-box {
    margin-bottom: 50px;
  }
}

footer {
  background: $custom-color;
  padding: 20px 0;
}

.socials {
  i {
    font-size: 18px;
    margin-right: 15px;
  }
}