$primary-color: #007bff;
$secondary-color: red;

%btn-style {
  padding: px 20px;
  font-size: 18px;
  background-color: $secondary-color; 
  color: white; 
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: $primary-color;
  }

  &:active {
    background-color: $secondary-color;
    color: white;
  }
}


  h1 {
    font-size: 24px;
  }

  .buton-custom {
    @extend %btn-style;
  }


#status {
  font-size: 20px;
  color: $primary-color; // Warna teks default

  @if $primary-color == red {
    color: $primary-color;
  } @else if $primary-color == blue {
    color: $secondary-color;
  } @else {
    color: black;
  }
}
